services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sales_management
    volumes:
      - mysql-data:/var/lib/mysql
    restart: always

  backend:
    build: ./management
    container_name: backend
    ports:
      - "9092:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/sales_management?useSSL=false&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    depends_on:
      - mysql
    restart: always

  frontend:
    build: ./salesmanagement1
    container_name: frontend
    ports:
      - "9081:80"
    depends_on:
      - backend
    restart: always

volumes:
  mysql-data:

